.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px #DDDDDD solid;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: 0;
    border-radius: 4px;
    margin-right: 30px;
    margin-left: 28%;
}

button:hover {
    opacity: 90%;
}

.locations {
    height: 100%;
    width: 25%;
    border-right: 1px #DDDDDD solid;
    text-align: left;
    text-indent: 20%;
}

.locations h3 {
    font-weight: 600;
    margin-bottom: 0;
}

.locations h4 {
    font-weight: 400;
    font-size: 14px;
    margin-top: 2%;
    margin-bottom: 0;
}

.amenities {
    height: 100%;
    width: 25%;
    text-align: left;
    text-indent: 20%;
}

.amenities h3 {
    font-weight: 600;
    margin-bottom: 0;
}

.amenities h4 {
    font-weight: 400;
    font-size: 14px;
    margin-top: 2%;
    margin-bottom: 0;
}

.locations .popover {
    display: none;
    background-color: #FAFAFA;
    max-width: inherit;
    border: 1px #DDDDDD solid;
    border-radius: 4px;
    list-style-type: none;
    padding-bottom: 20%;
    position: relative;
}

.amenities .popover {
    display: none;
    background-color: #FAFAFA;
    max-width: inherit;
    border: 1px #DDDDDD solid;
    border-radius: 4px;
    list-style-type: none;
    padding-top: 13%;
    padding-bottom: 13%;
    position: relative;
}

.locations .popover h2 {
    text-align: left;
    margin-top: 15%;
    margin-bottom: 0;
    text-indent: -8%;
}

.locations .popover li {
    text-align: left;
    margin-top: 3%;
    margin-bottom: 5%;
    list-style-type: none;
    text-indent: -22%;
}

.amenities .popover li {
    text-align: left;
    margin-top: 3%;
    margin-bottom: 5%;
    text-indent: 4%;
}

.locations:hover .popover {
    display: block;
}

.amenities:hover .popover {
    display: block;
}