.places {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    z-index: -1;
    /* padding-left: 30px; maybe responsive solution*/
}

.contains {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex;
}

.places h1 {
    text-align: top left;
    font-size: 30px;
    margin-left: 20px;
}

article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px #FF5A5F solid;
    border-radius: 4px;
    text-align: center;
    margin-top: -3px;
    margin-bottom: 40px;
    position: relative;
}

article h2 {
    font-size: 30px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 36px;
}

.price_by_night {
    position: absolute;
    display: flex;
    flex-direction: row;
    color: #FF5A5F;
    border: 4px #FF5A5F solid;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-align: center;
    right: 7%;
    top: 2%;
}

.information {
    height: 80px;
    border-top: 1px #DDDDDD solid;
    border-bottom: 1px #DDDDDD solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 25px;
}

.information div {
    width: 100px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 7px;
}

.max_guest {
    background-image: url('/images/icon_group.png');
    background-repeat: no-repeat;
    background-position: 25px;
}

.number_rooms {
    background-image: url('/images/icon_bed.png');
    background-repeat: no-repeat;
    background-position: 25px;
}

.number_bathrooms {
    background-image: url('/images/icon_bath.png');
    background-repeat: no-repeat;
    background-position: 25px;
}

.user {
    text-align: left;
}

.description p {
    text-align: left;
    margin-top: -8px;
    margin-bottom: 50px;
}
